<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.codlab.screencast"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!--
         Uses android.permission.INTERNET to enable to show the current
    	ip in the notification bar
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- TODO change services to internal broadcast -->
        <service android:name="eu.codlab.screencast.RecordService" />
        <service android:name="eu.codlab.screencast.StreamService" />
        <service android:name="eu.codlab.screencast.AwesomeScreencastService" />

        <activity
            android:name="eu.codlab.screencast.AwesomeScreencastActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.codlab.screencast.AwesomeScreencastActivityStop"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name=".RecordWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_record_provider" />
        </receiver>
        <receiver
            android:name=".StreamWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_stream_provider" />
        </receiver>
        
        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" />

        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false" >
        </activity>
        
    </application>

</manifest>